.host{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}