.card{
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem;
    max-width: 400px;
}

.header{
    text-align: center;
}

h1{
    margin-top: 0;
}

.close-content{
    text-align: end;
}

.close{
    font-family: sans-serif;
    cursor: pointer;
}

.content{
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

button{
    cursor: pointer;
    border: none;
    padding: 1rem 0;
    font-weight: 600;
    border-radius: 10px;
    max-width: 300px;
    width: -webkit-fill-available;
}

button:hover{
    opacity: 50%;
}

button.primary{
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

button.secundary{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

button.danger{
    background-color: red;
}

