<div class="card">
    <div class="header">
        @if (showCloseBtn ?? false) {
        <div class="close-content">
            <span class="close">X</span>
        </div>
        }
        @if (iconSrc) {
            <mat-icon [style]="iconSrc.iconStyle" fontSet="material-symbols-rounded">{{iconSrc.name ?? "info"}}</mat-icon>
        }
        <h2 class="title-large">{{titleText ?? "Atención"}}</h2>
    </div>
    <div class="content text-medium">
        <p>{{contentText}}</p>
    </div>
    <div class="footer">
        @if (primaryText || (showPrimaryBtn ?? true)) {
        <button class="btn-primary text-medium" (click)="responseAlert(responseEnum.primary)">{{primaryText ?? "Aceptar"}}</button>
        }
        @if (secundaryText || (showSecundaryBtn ?? false)) {
        <button class="btn-secundary  text-medium" (click)="responseAlert(responseEnum.secundary)">{{secundaryText ??
            "Regresar"}}</button>
        }
        @if (dangerText || (showDangerBtn ?? false)) {
        <button class="btn-danger  text-medium" (click)="responseAlert(responseEnum.danger)">{{dangerText ?? "Cancelar"}}</button>
        }
    </div>
</div>