.card {
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem;
    max-width: 400px;
}

.header {
    text-align: center;
}

h1 {
    margin-top: 0;
}

.close-content {
    text-align: end;
}

.close {
    font-family: sans-serif;
    cursor: pointer;
}

.content {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

button {
    padding: 0.5rem 0;
}

mat-icon {
    color: var(--text-color);
    font-size: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}