:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

header {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

header img {
  width: 90px;
  margin-bottom: 1rem;
  filter: drop-shadow(0px 0px 80px var(--primary-color));
}

.title-xlarge {
  font-weight: 600;
}

.sections {
  max-width: var(--max-width);
  margin: 0 8px;
  display: grid;
  gap: 1rem;
}

section .title-large {
  font-weight: 600;
  color: var(--primary-hover-color);
}

.btn-primary {
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 1rem 2rem;
}

footer {
  text-align: center;
  font-size: 0.85rem;
  color: var(--text-secundary-color);
  padding: 2rem 1rem;
}

@media (min-width: 600px) {
  .sections {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .sections {
    grid-template-columns: repeat(3, 1fr);
  }
}