@if (paymentMethods && !errorMessage) {
<div class="header">
    <h2 class="title-large">Métodos de pago</h2>
</div>
<div class="scroll" #scroll>
    <div class="content">
        @for (paymentMethod of paymentMethods; track paymentMethod.id) {
        <div #item class="card paymentMethod" [class.form]="paymentMethodEdit === item" [@animate]>
            @if (paymentMethodEdit === item) {
            <h3 class="title-small">Editar forma de pago</h3>
            <div class="form">
                <input class="text-medium input" type="text" name="name" id="name" placeholder="Nombre/Alias/Concepto"
                    [formControl]="paymentMethodForm.controls.alias" tabindex="1" maxlength="30"
                    (keydown.enter)="$event.preventDefault(); amount.focus()">
                <input #amount class="text-medium input" type="tel" name="balance" id="balance" placeholder="Balance"
                    [formControl]="paymentMethodForm.controls.type" appCurrency tabindex="2" maxlength="11"
                    (keydown.enter)="$event.preventDefault(); submitEdit(paymentMethod.id!)">
            </div>
            <div class="buttons-add">
                <button class="btn-danger" (click)="$event.preventDefault(); cancelEdit()" tabindex="3">
                    Cancelar
                    <mat-icon fontSet="material-symbols-rounded"
                        style="font-size: 24px; color: white;">{{Icons.CANCEL}}</mat-icon>
                </button>
                <button class="btn-success" (click)="$event.preventDefault(); submitEdit(paymentMethod.id!)"
                    tabindex="4">
                    Confirmar
                    <mat-icon fontSet="material-symbols-rounded"
                        style="font-size: 24px; color: white;">{{Icons.CONFIRM}}</mat-icon>
                </button>
            </div>
            }@else {
            <div class="info">
                <h3 class="title-small">{{paymentMethod.alias}}</h3>
                <span class="text-large">{{paymentMethod.balance | currency}}</span>
            </div>
            <div class="actions">
                <button class="btn-primary" id="edit" (click)="$event.preventDefault(); openEdit(paymentMethod,item);">
                    <mat-icon fontSet="material-symbols-rounded" style="font-size: 24px;"
                        color="white">{{Icons.EDIT}}</mat-icon>
                </button>
                <button class="btn-danger" id="delete"
                    (click)="$event.preventDefault(); deletePaymentMethod(paymentMethod)">
                    <mat-icon fontSet="material-symbols-rounded" style="font-size: 24px;"
                        color="white">{{Icons.DELETE}}</mat-icon>
                </button>
            </div>
            }
        </div>
        }
        <app-add-element label="Agregar forma de pago" #addElement (onClose)="paymentMethodForm.reset();" [@animate]>
            <div class="card form">
                <h3 class="title-small">Nueva forma de pago</h3>
                <div class="form">
                    <input class="text-medium input" type="text" name="name" id="name" tabindex="1"
                        (keydown.enter)="amount.focus()" placeholder="Nombre/Alias/Concepto"
                        [formControl]="paymentMethodForm.controls.alias">
                    <input #amount class="text-medium input" type="tel" name="balance" id="balance"
                        placeholder="Balance" [formControl]="paymentMethodForm.controls.type" appCurrency tabindex="2">
                </div>
                <div class="buttons-add">
                    <button class="btn-danger" (click)="$event.preventDefault(); cancelNew(addElement)">
                        Cancelar
                        <mat-icon fontSet="material-symbols-rounded"
                            style="font-size: 24px; color: white;">{{Icons.CANCEL}}</mat-icon>
                    </button>
                    <button class="btn-success" (click)="$event.preventDefault(); submitNew(addElement)">
                        Confirmar
                        <mat-icon fontSet="material-symbols-rounded"
                            style="font-size: 24px; color: white;">{{Icons.CONFIRM}}</mat-icon>
                    </button>
                </div>
            </div>
        </app-add-element>
    </div>
</div>
}@else {
<div>
    <h1 class="title-xlarge">{{errorMessage}}</h1>
</div>
}