:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 auto;
    overflow: auto;
    margin: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.scroll {
    overflow-y: auto;
    flex: 1 1 auto;
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    align-items: start;
    width: 95%;
    padding: 8px;
}

@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card.paymentMethod {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    button {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }
}

.card.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    input {
        width: 85%
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    .tooltip-container {
        position: relative;
        display: inline-block;
        margin-left: -2rem;
        cursor: pointer;
    }

    .icon-info {
        --icon-size: 20px;
        font-size: var(--icon-size);
        width: var(--icon-size);
        height: var(--icon-size);
        color: var(--text-color);
    }

    .tooltip-text {
        visibility: hidden;
        background-color: #333;
        color: #fff;
        text-align: left;
        border-radius: 4px;
        padding: 6px 8px;
        position: absolute;
        bottom: 125%;
        /* coloca el tooltip arriba del icono */
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        min-width: 100px;
        max-width: 300px;
        opacity: 0;
        text-wrap: wrap;
        transition: opacity 0.2s, visibility 0.2s;
        z-index: 10;
    }

    .tooltip-container:hover .tooltip-text,
    .tooltip-container:focus-within .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}


.buttons-add {
    display: flex;
    gap: 1rem;

    button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;
    }
}