:host {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.text-xlarge {
    margin: 0;
    margin-right: 1rem;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

#back-button {
    margin-right: auto;
}

#next-button {
    margin-left: auto;
}


button {
    display: flex;
    align-items: center;
    gap: 1rem;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    padding: 0.5rem 1rem;
    width: 40%;
    max-width: 150px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    padding: 5px;
}