<div class="header">
    <h2 class="title-large">Porcentaje total:</h2>
    <h2 class="title-large" [class.invalid]="totalPercent !== 100">{{totalPercent}}%</h2>
</div>
<div class="scroll" #scroll>
    <div class="content">
        @for (pocketForm of arrayPocketForm.controls; track pocketForm.controls.id.value) {
        <div #item class="card pocket" [class.form]="pocketEdit === item" [@animate]>
            <input class="text-medium input" type="text" name="name" id="name" placeholder="Nombre del bolsillo"
                [formControl]="pocketForm.controls.name" tabindex="1">
            <input class="text-large input" type="tel" name="percent" id="percent" placeholder="Porcentaje"
                [formControl]="pocketForm.controls.percent" tabindex="2" maxlength="3" (input)="calculateTotal()" appPercent>
            <button class="btn-danger" id="delete" (click)="$event.preventDefault(); deletePocket(pocketForm.value.id!, pocketForm.value.name!);">
                <mat-icon fontSet="material-symbols-rounded" style="font-size: 24px;"
                    color="white">delete</mat-icon>
            </button>
        </div>
        }
        <app-add-element label="Agregar bolsillo" #addElement (onClose)="newPocketForm.reset();" [@animate]>
            <div class="card form">
                <h3 class="title-small">Nuevo bolsillo</h3>
                <div class="pocket">
                    <input class="text-medium input" type="text" name="name" id="name" tabindex="100" (keydown.enter)="percent.focus()"
                        placeholder="Nombre del bolsillo" [formControl]="newPocketForm.controls.name">
                    <input #percent class="text-medium input" type="tel" name="percent" id="percent" placeholder="Porcentaje"
                        [formControl]="newPocketForm.controls.percent" tabindex="101" maxlength="3" appPercent
                        (keydown.enter)="$event.preventDefault(); submitNew(addElement)">
                </div>
                <div class="buttons-add">
                    <button class="btn-danger" (click)="$event.preventDefault(); cancelNew(addElement)">
                        Cancelar
                        <mat-icon fontSet="material-symbols-rounded"
                            style="font-size: 24px; color: white;">cancel</mat-icon>
                    </button>
                    <button class="btn-success" (click)="$event.preventDefault(); submitNew(addElement)">
                        Confirmar
                        <mat-icon fontSet="material-symbols-rounded"
                            style="font-size: 24px; color: white;">check_circle</mat-icon>
                    </button>
                </div>
            </div>
        </app-add-element>
    </div>
</div>
<div class="footer">
    @if (totalPercent !== 100) {
        <span class="label-error">Favor de verificar los porcenajes</span>
    }
    <button class="btn-primary" [disabled]="arrayPocketForm.untouched || totalPercent !== 100" (click)="$event.preventDefault(); submitALL()">
        Guardar
        <mat-icon fontSet="material-symbols-rounded" style="font-size: 24px; color: white;">save</mat-icon>
    </button>
</div>