@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    color-scheme: light dark;

    --background-color: light-dark(#F8FAFC, #111922);
    --background-inputs-color: light-dark(#E8EDF2, #243347);

    --primary-color: light-dark(#126cbf,#1A78E5);
    --secundary-color: light-dark(#3AB795,#248169);
    --contrast-color: light-dark(#F4C430,#c99f22);

    --error-color: light-dark(#EF4444,#F87171);
    --text-color: light-dark(#0D141C,#FFFFFF);
    --placeholder-color: light-dark(#4F7096,#94ABC7)

}

html {
    background-color: var(--background-color);
    color: var(--text-color);
}

.title-xlarge {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
}
.title-large {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
}
.title-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}
.title-small {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
}
.title-xsmall {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
}

.text-xxlarge {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: xx-large;
}

.text-xlarge {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: x-large;
}

.text-large {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: large;
}

.text-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: medium;
}

.text-small {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: small;
}

.text-xsmall {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: x-small;
}

.error {
    border-color: var(--error-color);
}

.label-error {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: small;
  color: var(--error-color);
}