app-add-element .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-add {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    #name {
        flex: 2;
    }

    #amount {
        flex: 1;
    }
    #frecuency {
        flex: 1;
    }
}

.buttons-add {
    display: flex;
    gap: 1rem;

    button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;
    }
}