:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 auto;
    overflow: auto;
    margin: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.scroll {
    overflow-y: auto;
    flex: 1 1 auto;
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    align-items: start;
    width: 95%;
    padding: 8px;
}

@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card.income {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    button {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttons-add {
    display: flex;
    gap: 1rem;

    button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;
    }
}